<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Skins</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
      <%- include("partials/header") %>
      <div class="filter-container">
        <h1 class="heading-over-filter">All Skins</h1>
        <%- include("partials/filter", { query, pageType: "allSkins" }) %>
      </div>


<div class="skins">
  <% skins.forEach(skin => { %>
    <div class="skin-card">
      <img src="<%= skin.image_url %>" />
      <h3><%= skin.name %></h3>
      <p> Price: $<%= skin.price %></p>
      <p><%= skin.rarity %></p>
    </div>
  <% }) %>
</div>

<%- include("partials/pagination", { currentPage, totalPages, query }) %>

</body>
</html>